<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'admin_home' %}">Home</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'insertemployee_details' %}">Insert Employee Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'employee_detailsview' %}">View Employee Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'insertshop_details' %}">Insert Shop Details</a>
    </li>
<li class="nav-item">
        <a class="nav-link" href="{% url 'insertFood_store' %}">Insert Food Store</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'complaintsview' %}">View Complaints</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'insertservicedetails' %}">Insert Service Details</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'insertincharge_details' %}">Insert Incharge Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'Registerview' %}">View Register</a>
    </li><li class="nav-item">
        <a class="nav-link" href="{% url 'changepass' %}">Change Password</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logcheck' %}">Logout</a>
    </li>
</ul>
