<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Insert Employee Details</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body class="main-layout">
    <header>
            <!-- header inner -->
            <div class="header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                            <div class="full">
                                <div class="center-desk">

                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
                            <nav class="navigation navbar navbar-expand-md navbar-dark ">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarsExample04">
                                    {% include 'admin_menu.html' %}
                                </div>
                            </nav>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
            </div>
        </header>
    <section class="login_section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card mt-5">
                        <div class="card-body">
                            <h2 class="text-center mb-4">Insert Employee Details</h2>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    <label for="t1" class="form-label">Employee ID</label>
                                    <input type="text" class="form-control" id="t1" name="t1" placeholder="Employee ID">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="t2" class="form-label">Name</label>
                                    <input type="text" class="form-control" id="t2" name="t2" placeholder="Name">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="t3" class="form-label">Aadhar Number</label>
                                    <input type="text" class="form-control" id="t3" name="t3" placeholder="Aadhar Number">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="t4" class="form-label">Email ID</label>
                                    <input type="email" class="form-control" id="t4" name="t4" placeholder="Email ID">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="t5" class="form-label">Date Joined</label>
                                    <input type="date" class="form-control" id="t5" name="t5" placeholder="Date Joined">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="t6" class="form-label">Work Type</label>
                                    <input type="text" class="form-control" id="t6" name="t6" placeholder="Work Type">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="t7" class="form-label">Mobile Number</label>
                                    <input type="text" class="form-control" id="t7" name="t7" placeholder="Mobile Number">
                                </div>
                                <button type="submit" class="btn btn-primary w-100">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>
